<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="multiview.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <canvas width="1920" height="1080" style="margin: auto"></canvas>
      <video
        id="remoteview"
        preload="auto"
        autoplay
        playsinline
        webkit-playsinline
        muted
        hidden
      ></video>

      <!-- <video id="remoteview" autoplay="" muted="" playsinline="" hidden></video> -->

      <video id="selfview" autoplay="" muted="" playsinline=""></video>
    </div>

    <!-- OFF CANVAS - Settings Menu -->
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Settings</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="offcanvas-body">
                <div class="offcanvas-body-inner">
                  <h6 style="text-align: center">Multiview Configuration</h6>
        
                  <div style="margin: auto; padding: 0; gap: 0">
                    <button
                      id="window-button1"
                      class="window-button"
                      style="position: relative"
                      type="button"
                    >
                      <div id="mv1-mini-grid">
                        <div class="horizontal-line"></div>
                        <div class="vertical-line"></div>
                      </div>
                    </button>
        
                    <button
                      id="window-button2"
                      class="window-button"
                      style="position: relative"
                      type="button"

                    >
                      <div id="mv2-mini-grid">
                        <div class="horizontal-line"></div>
                        <div class="vertical-line"></div>
                      </div>
                    </button>
                  </div>
        
                  <div style="margin: auto; padding: 0">
                    <button
                      id="window-button3"
                      class="window-button"
                      style="position: relative"
                      type="button"

                    >
                      <div id="mv3-mini-grid">
                        <div class="horizontal-line"></div>
                        <div class="vertical-line"></div>
                      </div>
                    </button>
        
                    <button
                      id="window-button4"
                      class="window-button"
                      style="position: relative"
                      type="button"

                    >
                      <div id="mv4-mini-grid">
                        <div class="horizontal-line"></div>
                        <div class="vertical-line"></div>
                      </div>
                    </button>
                  </div>
        
                  <div style="margin-top: 50px">
                    <select id="camera-select"></select
                    ><br />
                    <select id="audio-select"></select>
                  </div>
                </div>
              </div>
        </div>
      </div>

    <div id="footer-bar">
        <button class="btn btn-primary" id="settings-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvasExample">
            Settings
          </button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/webrtc.js" type="module" async defer></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
  </body>
</html>
