body {
    background-color: #282828;
    color: #eaeaea;
    font-family: Helvetica;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
}